In [8]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("Mall_Customers.csv")
df.head()

   CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

In [3]:
x=df.iloc[:,[3,4]].values

In [4]:
from sklearn.cluster import DBSCAN
dbc=DBSCAN(eps=2,min_samples=3)
dbc.fit(x)

DBSCAN(eps=2, min_samples=3)

In [7]:
cluster_groups=dbc.labels_
cluster_groups

array([-1, -1, -1, -1, -1, -1, -1, -1, -1, -1,  0, -1,  0, -1,  0, -1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1, -1, -1,  1, -1, -1,  1,  2,  1, -1, -1,  2,  3,  2,  3,  2,  2,
        3,  2, -1, -1, -1, -1,  4,  5,  5,  4,  5,  4,  5,  5,  4,  4,  5,
        4, -1, -1, -1, -1, -1,  6,  7,  6,  6,  7,  7,  7,  6,  7,  6,  7,
       -1,  7,  7,  6,  7,  7,  6,  7,  7,  7,  6,  7,  7,  7,  6, -1,  6,
       -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,  8, -1,
        8, -1, -1, -1,  8, -1, -1, -1, -1, -1, -1, -1, -1,  9, -1,  9, -1,
       -1, -1,  9, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       10, -1, -1, -1, 10, -1, 10, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1], dtype=int64)

In [9]:
#Identifing the core points
cores=np.zeros_like(cluster_groups,dtype=bool)
cores[dbc.core_sample_indices_]=True

In [10]:
#no of clusters are 
clusters_n=len(set(cluster_groups))-(1 if -1 in cluster_groups else 0)

In [11]:
clusters_n

11

In [12]:
# Noisy data percentage
from sklearn.metrics import silhouette_score
silhouette_score(x,cluster_groups)

-0.2947955273217612