In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("Startups.csv")
df.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [3]:
x=df.iloc[:, :-1]
y=df['Profit']

In [4]:
# Encoding the State data for further analysis
states_en=pd.get_dummies(x['State'],drop_first=True)
states_en.head()

   Florida  New York
0        0         1
1        0         0
2        1         0
3        0         1
4        1         0

In [5]:
# Droping the acutual Categorical State column and adding encoded state column 
# to 'x'

x=x.drop("State",axis=1)
x=pd.concat([x,states_en],axis=1)
x.head()

   R&D Spend  Administration  Marketing Spend  Florida  New York
0  165349.20       136897.80        471784.10        0         1
1  162597.70       151377.59        443898.53        0         0
2  153441.51       101145.55        407934.54        1         0
3  144372.41       118671.85        383199.62        0         1
4  142107.34        91391.77        366168.42        1         0

In [6]:
# Data partition
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.75,random_state=0)

In [7]:
# Building the model (Linear Regression)
from sklearn.linear_model import LinearRegression
model=LinearRegression()
model.fit(x_train,y_train)
y_hat=model.predict(x_test)

In [11]:
model.intercept_

41049.2380943647

In [8]:
from sklearn.metrics import r2_score
score=r2_score(y_test,y_hat)
score

0.931581519915206

##### Statistical Based

In [9]:
import statsmodels.formula.api as sm
from sklearn.linear_model import LinearRegression
from scipy import stats
import statsmodels.api as s

model1=sm.ols('y~x',data=df).fit()
model1.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.951
Model:                            OLS   Adj. R-squared:                  0.945
Method:                 Least Squares   F-statistic:                     169.9
Date:                Wed, 23 Sep 2020   Prob (F-statistic):           1.34e-27
Time:                        08:31:03   Log-Likelihood:                -525.38
No. Observations:                  50   AIC:                             1063.
Df Residuals:                      44   BIC:                             1074.
Df Model:                           5
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept   5.013e+04   6884.820      7.281      0.000    3.62e+04     6.4e+04
x[0]           0.8060      0.046     17.369      0.000       0.712       0.900
x[1]          -0.0270      0.052     -0.517      0.608      -0.132       0.078
x[2]           0.0270      0.017      1.574      0.123      -0.008       0.062
x[3]         198.7888   3371.007      0.059      0.953   -6595.030    6992.607
x[4]         -41.8870   3256.039     -0.013      0.990   -6604.003    6520.229
==============================================================================
Omnibus:                       14.782   Durbin-Watson:                   1.283
Prob(Omnibus):                  0.001   Jarque-Bera (JB):               21.266
Skew:                          -0.948   Prob(JB):                     2.41e-05
Kurtosis:                       5.572   Cond. No.                     1.45e+06
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.45e+06. This might indicate that there are
strong multicollinearity or other numerical problems.
"""